/* @import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900'); */

@font-face {
    font-family: 'Exo';
    src: url(../fonts/Exo-Regular.ttf);
}

@font-face {
    font-family: 'Exo-Bold';
    src: url(../fonts/Exo-Bold.ttf);
}

@font-face {
    font-family: 'Exo-ExtraBold';
    src: url(../fonts/Exo-ExtraBold.ttf);
}

@font-face {
    font-family: 'Exo-SemiBold';
    src: url(../fonts/Exo-SemiBold.ttf);
}

@font-face {
    font-family: 'Exo-Medium';
    src: url(../fonts/Exo-Medium.ttf);
}

@font-face {
    font-family: 'Exo-Light';
    src: url(../fonts/Exo-Light.ttf);
}

@font-face {
    font-family: 'Exo-ExtraLight';
    src: url(../fonts/Exo-ExtraLight.ttf);
}

@font-face {
    font-family: 'Exo-Thin';
    src: url(../fonts/Exo-Thin.ttf);
}

* {
    font-family: 'Exo', sans-serif;
}

.ThemeColor {
    color: #ef5226;
}

.ThemeBgColor {
    background-color: #212528;
}

.ThemeBgColor2 {
    background-color: #ef5226;
}

.TopBar {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 0;
}

.TopBar__content ul li, .TopBar__content a {
    color: #fff;
}

.TopBar__content ul li a {
    display: inline-block;
    background-color: #ffffff;
    color: #ef5226;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7;
    font-size: 14px;
}

.TopBar__content ul li a:hover {
    background-color: #dc3545;
    color: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.TopBar__content span {
    float: right;
    font-weight: 600;
    font-size: 13px;
    margin-top: 3px;
}

.LogoSection {
    background-color: #212528;
    color: #fff;
}

.LogoSection span i {
    font-size: 30px;
    float: left;
    color: #fff;
}

.LogoSection__info {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

@media only screen and (max-width:768px) {
    .LogoSection__info {
        justify-content: unset;
    }
}

.LogoSection__title {
    font-weight: 500;
}

@media only screen and (max-width:575px) {
    .LogoSection__iconholder {
        width: 60px;
    }
}

.MenuLinks {
    background-color: #212528;
    border-top: 1px solid #232f3a;
    box-shadow: 0 0px 0px 1px #000000;
}

.MenuLinks a {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

.Pricing__card {
    cursor: pointer;
}

.Pricing__card:hover .Pricing__cardTitleActive {
    width: 100px;
    height: 64px;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    border-right: .3em solid #ffffff00;
    border-bottom: .7em solid #ef5226;
    border-left: .3em solid #ffffff00;
    border-top: .7em solid #ef5226;
}

.Pricing__card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)!important;
}

/* .Pricing__cardTitleActive {
    width: 100px;
    height: 64px;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    border-right: .3em solid #ffffff00;
    border-bottom: .7em solid #ef5226;
    border-left: .3em solid #ffffff00;
    border-top: .7em solid #ef5226;
} */

.Footer {
    background-color: #212528;
    color: #fff;
}

.Footer li {
    padding: 7px 0;
}

.Footer a {
    color: #fff;
}

.Copyright ul li a {
    display: inline-block;
    background-color: #ffffff;
    color: #343a40;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7;
    font-size: 14px;
}

.Copyright ul li a:hover {
    background-color: #ef5226;
    color: #fff;
}

.SectionContent {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

.SectionContent__div {
    background-color: #ef5226;
    color: #fff;
}

.UnderLine:after {
    content: '';
    width: 70px;
    height: 4px;
    background-color: #ef5226;
    position: absolute;
    left: 14px;
    margin-top: 33px;
}

/* bootstrap overides */

.btn-primary {
    background-color: #ef5226;
    color: #fff;
}

.btn-primary:hover {
    background-color: #212528;
    color: #fff;
}

.btn-dark {
    background-color: #212528;
    color: #fff;
}

.btn-dark:hover {
    background-color: #ef5226;
    color: #fff;
}

.btn {
    border: 0;
}

.text-muted {
    color: #999999!important;
}

h3, h5 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}

.carousel-item::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: none;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-link {
    background-color: #ff5722;
}

* {
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}